satellite/__pycache__
satellite/migrations/__pycache__
minisat/__pycache__
.idea
satellite/modules/__pycache__
satellite/migrations/0*
db.sqlite3
__pycache__
.cache
geckodriver.log
satellite/__init__.pyc
**/*.pyc
