{% extends 'form_template.html' %}

{% block form_content %}
<div class="myBox1" xmlns="http://www.w3.org/1999/html">

        {% if message == True %}
    <div class="alert alert-success alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-ok"></span>
        <strong>Host Group created successfuly</strong>
    </div>
        {% elif message != False %}
    <div class="alert alert-danger alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-error-circle-o"></span>
        <strong>{{ message }}</strong>
    </div>
        {% endif %}
        <form class="form-horizontal " method="post" action="post_host_group">
            {% csrf_token %}


            <div class="form-group">
                <label class="col-sm-3 control-label " for="i2" style="font-size:13px;">{{form.host_group_name.label_tag}}</label>
                <div class="col-sm-8">
                    {{ form.host_group_name }}
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label " for="i2" style="font-size:13px;">{{form.select_compute.label_tag}}</label>
                <div class="col-sm-8">
                    <select name="select_compute" >
                        {% for each in select_compute %}
                        <option value="{{each}}">{{each}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label " for="i2"
                       style="font-size:13px;">{{form.select_profile.label_tag}}</label>
                <div class="col-sm-8">
                    <select name="select_profile">
                        {% for each in select_profile %}
                        <option value="{{each}}">{{each}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label " for="i2"
                       style="font-size:13px;">{{form.select_os.label_tag}}</label>
                <div class="col-sm-8">
                    <select name="select_os">
                        {% for each in select_os %}
                        <option value="{{each}}">{{each}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label " for="i2"
                       style="font-size:13px;">{{form.select_activation.label_tag}}</label>
                <div class="col-sm-8">
                    <select name="select_activation">
                        {% for each in select_activation %}
                        <option value="{{each}}">{{each}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


                <td><input type="submit" value="Add" class="btn btn-primary" style="width:100px;"></td>

        </form>

    </table>
</div>
{% endblock %}

{% block exist_content %}
{% if host_group_dict %}
<div class="myBox">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>Name</td>
            <td>Compute Resource</td>
            <td>Profile</td>
            <td>Operating System</td>
            <td>Activation Name</td>
        </tr>
        </thead>
        <tbody>
        {% for each in host_group_dict %}
        <tr>
            <td>{{each.host_group_name}}</td>
            <td>{{each.select_compute}}</td>
            <td>{{each.select_profile}}</td>
            <td>{{each.select_os}}</td>
            <td>{{each.select_activation}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h2>No Host Groups Added</h2>
{% endif %}
{% endblock %}