{% extends 'form_template.html' %}

{% block form_content %}

{% if message == True %}
<div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Compute Resource Added Successfully</strong>
</div>
{% elif message != False %}
<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ message }}</strong>
</div>
{% endif %}

<form action="post_data" method="post">{% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}<br>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary" id="compute_submit">SUBMIT</button>
</form>


{% endblock %}

{% block exist_content %}
<div class="myBox">
    {% if compute_obj == False %}

    <h1>No Compute Resources Found</h1>
    {% else %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>IP Address</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {% for obj in compute_obj %}

        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.ip_address }}</td>
            <td width="2%">
                <form action="delete" method="GET">
                    <button class="btn btn-danger" name="ComputeDelete" value="{{ obj.id }}">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}

