{% extends 'form_template.html' %}
{% block form_content %}

{% if message == True %}
<div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Profile Added Successfully</strong>
</div>
{% elif message != False %}
<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ message }}</strong>
</div>
{% endif %}

<form action="post_profile" method="post" autocomplete="off">
    {% csrf_token %}
    {{compute_resource_name}}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}<br>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}

{% block exist_content %}

{% if profile_obj == False %}
<h1>No Profiles Found</h1>
{% else %}

<div class="container-fluid container-cards-pf" id="card-container">
    <div class="row row-cards-pf">
        {% for obj in profile_obj %}
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                <div class="card-pf-body">
                    <h2 class="card-pf-title text-center">
                        <b>{{ obj.profile_name }}</b>
                    </h2>
                    <div class="card-pf-items text-center">
                        <span class="card-pf-item-text">RAM(MB): {{ obj.ram }}</span>
                    </div>
                    <p class="card-pf-info text-center">VCPUs: {{ obj.cpus }}</p>
                    <p class="card-pf-info text-center">Disk Space(GB): {{ obj.disk_size }}</p>
                </div>
                <div class="text-center" style="margin-bottom:10px">
                    <form action="delete" method="GET">
                        <button class="btn btn-danger" name="ProfileDelete" value="{{ obj.id }}">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<script>
  $(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
  });
</script>


{% endblock %}