<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Minisat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.21/c3.min.css"></link>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.21/c3.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</head>
<body>
<header >
    <nav class=" navbar navbar-inverse fixed-top  " id="navigation" >

        <div class="container-fluid" >
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="font-size:25px;font-family:Comic Sans MS;">MiniSat</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav" style="color:red;font-size:13px;">
                        <li class="nav-item dropdown">

                            <a class=" dropdown-toggle effect-underline " href="#" data-toggle="dropdown">Host<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/create_host">Create Host</a></li>
                                <li><a href="/operating_system">Operating System</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle effect-underline" href="#"> Host Group <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/host_group"> Host Group</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle  effect-underline" href="#"> Infrastructure
                                <b
                                        class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/compute_resource"> Compute Resource </a></li>
                                <li><a href="/profile"> Profile </a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle  effect-underline" href="#"> Content <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/product">Product</a></li>
                                <li><a href="/view">View</a></li>
                                <li><a href="/activation">Activation Key</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle  effect-underline" href="#"> Containers <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/new_container">New Container</a></li>
                                <li><a href="/local_images">Local Images</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                 <ul class="nav navbar-nav" style="float:right;outline:none;font-size:13px;">
                    <li class="nav-item">
                        <a  href="https://minisatblog.wordpress.com/" >Blog</a>
                    </li>
                 </ul>
                 <ul class="nav navbar-nav" style="float:right;outline:none;font-size:20px;">
                     <li class="nav-item">
                         <a class="pf pficon-info" href="https://minisat.gitbooks.io/minisat/content/" ></a>
                     </li>
                 </ul>
            </div>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
<script src="{% static 'myscript.js' %}"></script>
{% block extrascript %}
{% endblock %}
{% block dockerscript %}
{% endblock %}
{% block vmpackages %}
{% endblock %}
{% block change_host_group %}
{% endblock %}
{% block error_content%}
{% endblock %}
</body>
</html>