{% extends 'base.html' %}
{% block extrascript %}
<script type="text/javascript" src="/static/vmlist.js"></script>
{% endblock %}
{% block content %}

<div class="bg-primary" style="height:50px;margin-top:-20px;">
    <h3 class="title-bg"><center>{{ title_name }}</center></h3>
</div>
<br>
<div class="col-md-2 col-lg-2"></div>

<div class="col-md-8 col-lg-8 well well-lg well-primary" style="border:1px solid blue" >
    <ul class="nav nav-tabs text-size" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><b>Virtual Machines</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#buzz" role="tab" data-toggle="tab"><b>Docker Containers</b></a>
        </li>
        <input type="button" class="btn btn-primary" style="float:right" id="btn-refresh" value="Refresh">
    </ul>
    
    <div class="tab-content">
        <br>
        
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            <table class="table table-striped table-bordered table-hover" id="dash_vms">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Compute Name ( IP Address )</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="vm_table">
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="buzz">
            <table class="table table-striped table-bordered table-hover" id="dash_cont">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Repository:Tag</th>
                    <th>Port</th>
                    <th>Compute Name ( IP Address )</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="docker_table">
                </tbody>
            </table>
        </div>
        <div id = "error-box-vm" style="display: none;" class="alert alert-danger alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Unreachable Compute for VMs: </strong><strong id="error-vm"></strong>
        </div>
        <div id = "error-box-cont" style="display: none;" class="alert alert-danger alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Unreachable Compute for Containers: </strong><strong id="error-cont"></strong>
        </div>
        <div id="vm-spinner" class="progress-description">
                <div class="spinner spinner-xs spinner-inline"></div> <strong>Fetching:</strong> Virtual Machines. Please wait..
        </div>
        <div id="cont-spinner" class="progress-description">
            <div class="spinner spinner-xs spinner-inline"></div> <strong>Fetching:</strong>  Docker Containers. Please wait..
        </div>
    </div>
        

<div class="col-md-2 col-lg-2"></div>

</div>


{% endblock %}
