{% extends 'base.html' %}

{% block vmpackages %}
<script src="/static/vm_packages.js"></script>
<script>

var ctxD = document.getElementById("doughnutChart")
var ChartDetail = new Chart(ctxD, {
    type: 'doughnut',
    data: {
        labels: ["Free","Used"],
        datasets: [
            {
                data: [{{ chartDetail.free_mem }}, {{ chartDetail.used_memory }}],
                backgroundColor: ["#46BFBD", "#FDB45C"],
                hoverBackgroundColor: ["#5AD3D1", "#FFC870"],
                borderWidth: 2
            }
        ],
    },
    options: {

        cutoutPercentage: 75,
        responsive: true

    },
});


</script>
{% endblock %}

{% block content %}
<body class="cards-pf">
<div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
        <div class="col-xs-12">
            <div class="card-pf card-pf-utilization">
                <div class="card-pf-heading">

                    <h2 class="card-pf-title">
                        {{ details.Name }}
                    </h2>
                    <div class="btn-group card-pf-title" style="float:right;top:-60px;">
                    </div>
                </div>


                <div style="float:right;margin-right:175px;">
                    <canvas height="250px" id="doughnutChart"></canvas>

                </div>
                <div class="card-pf-body" id="vm_info_font">
                    {% for key,value in details.items %}
                    <label> {{ key }} : {{ value }} </label><br>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="col-xs-12 ">
            <div class="card-pf card-pf-utilization">
                <div class="card-pf-heading">
                    <h2 class="card-pf-title">
                        Packages
                    </h2>
                </div>
                <div class="card-pf-body vm_pack " id="vm_packages">
                    <table class="table table-striped table-bordered table-hover" id="myPackages">
                        <thead>
                        <tr>
                            <th>Package Name
                                <input style="float:right" type="text" id="myInput" onkeyup="myFunction()"
                                       placeholder="Search for packages...">
                            </th>
                        </tr>
                        </thead>
                        <tbody id="vm_packages_table">
                        {% for pack_name in packages %}
                        <tr>
                            <td> {{ pack_name }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


{% endblock %}