{% extends 'base.html' %}
{% block content %}


<body class="cards-pf">
<div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
        <div class="col-xs-12">
            <div class="card-pf card-pf-utilization">
                <div class="card-pf-heading">

                    <h2 class="card-pf-title">
                        {{ details.Name }}
                    </h2>
                    <div class="btn-group card-pf-title" style="float:right;top:-60px;">
                        <!--<button class="btn btn-success">Start</button>-->
                        <!--<button class="btn btn-warning">Pause</button>-->
                        <!--<button class="btn btn-danger">Stop</button>-->
                    </div>

                </div>
                <div class="card-pf-body" id="vm_info_font">
                    {% for key,value in details.items %}
                    <label > {{ key }} : {{ value }} </label><br>
                    {% endfor %}
                    <br>
                    <button class="btn btn-default">Installed Packages</button>
                </div>

            </div>
        </div>
        <div class="col-xs-12">
            <div class="card-pf card-pf-utilization">
                <div class="card-pf-heading">
                    <h2 class="card-pf-title">
                        Packages
                    </h2>
                </div>
                <div class="card-pf-body" id="vm_packages">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Package Name</th>
                        </tr>
                        </thead>
                        <tbody id="vm_packages_table">
                        {% for pack_name in packages %}
                        <tr>
                            <td> {{ pack_name }} </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /row -->
</div><!-- /container -->
</body>



{% endblock %}