{% extends 'base.html' %}
{% block content %}

<div class="bg-primary" style="height:50px;margin-top:-25px">
    <h3 class="title-bg"><center>{{ title_name }}</center></h3>
</div>
<br>
<div class="col-md-2 col-lg-2"></div>

<div class="col-md-8 col-lg-8 well well-lg well-primary" style="border:1px solid blue" >
    <ul class="nav nav-tabs text-size" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><b>Create New</b></a>
        </li>
    </ul>
    <div class="tab-content">
        <br>
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            <form action="post_create_host" method="post">
              {% csrf_token %}
                {{ form.vm_name.label_tag }}
                {{ form.vm_name }}
                <br><br>
                {{ form.vm_os.label_tag }}
                <select name="vm_os">
                {% for key,value in  os_name %}
                    <option value="{{key}}">{{ value }}</option>
                {% endfor %}
                </select>
                <br><br>
                {{ form.select_vm_profile.label_tag }}
                <select name="select_vm_profile">
                {% for key,value in  profile_name %}
                    <option value="{{key}}">{{ value }}</option>
                {% endfor %}
                </select>
                <br><br>
                {{ form.select_compute.label_tag }}
                <select name="select_compute">
                {% for key,value in  compute_name %}
                    <option value="{{key}}">{{ value }}</option>
                {% endfor %}
                </select>
                <br><br>
                <button type="submit" class="btn btn-primary">Create Instance</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-2 col-lg-2"></div>
{% endblock %}