<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <title>MiniSat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
    </head>
    <body>
        <header>
            <nav class=" navbar-inverse navbar-dark fixed-top">
              <div class="container-fluid">
                <a class="navbar-brand" href="/">MiniSat</a>
                <ul class="nav navbar-nav">
                  <li class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle"  href="#" data-toggle="dropdown">Host<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">All Host</a></li>
                        <li><a href="create_host">Create Host</a></li>
                        <li><a href="#">Operating System</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"> Host Group <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"> Host Group</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"> Infrastructure <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="compute_resource"> Compute Resource </a></li>
                        <li><a href="profile"> Profile </a></li>
                        <li><a href="#"> Subnet </a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"> Content <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Product</a></li>
                        <li><a href="#">View</a></li>
                        <li><a href="#">Activation Key</a></li>
                        <li><a href="#">Life Cycle Environmnet</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
        </header>
    {% block content %}
    {% endblock %}
    </body>
</html>
