{% extends 'base.html' %}

{% block content %}

<h1 style="margin-top:100px;">DASHBOARD</h1>
<p>
    lorem ipsum
    lorem ipsum
    lorem ipsum
    lorem ipsumlorem ipsum


Banner logoParticipate in an international science photo competition!
Learn more
Hide
Page semi-protected
Test
From Wikipedia, the free encyclopedia
To make test edits on Wikipedia, please use the sandbox.
	Look up TEST, Test, Tests, testing, or tests in Wiktionary, the free dictionary.

Test, TEST or Tester may refer to:

    Test (assessment), an assessment intended to measure the respondents' knowledge or other abilities
    Medical test, to detect, diagnose, or monitor diseases

Contents

    1 Science and technology
    2 Arts and media
    3 People
    4 Other uses
    5 See also

Science and technology

    test (Unix), a Unix command for evaluating conditional expressions
    TEST (x86 instruction), an x86 assembly language instruction
    Experiment, a part of the scientific method
    Test (biology), the shell of sea urchins and certain microorganisms
    Test method, a definitive procedure that produces a test result
    Chemical test, a procedure designed to prove the existence of, or to quantify, a particular substance
    Medical test, to detect, diagnose, or monitor diseases
    Physical test, a method for determining characteristics of a product
    Psychological testing, the use of behavioral samples to make inferences about an individual
    Software testing, the process of verifying that a software program works as expected
    Statistical hypothesis testing, a method of making statistical decisions using experimental data, particular case of the former
    Toxicology testing, to determine the degree to which a substance can damage organisms

Arts and media

    Test (film), a 2013 American film
    Test (group), a jazz collective
    Tests (album), a 1998 album by The Microphones
    Johnny Test, an American/Canadian animated television series
    "Tester" a song by Anthrax on the album Stomp 442
    The Tester, a reality show produced by Sony about videogame testing

People

    Test (wrestler), ring name for Andrew Martin (1975–2009), Canadian professional wrestler
    John Test (1771–1849), American politician
    Zack Test (born 1989), American rugby union player
    Tester (surname), shared by several notable people

Other uses

    River Test, a river in England
    Tester, the upper part of a four-poster bed
    Tester, a sounding board, a canopy over a tomb or pulpit
    Test match (disambiguation), an international contest in various sports
        Test (cricket), the highest form of the sport of cricket
    Legal tests, methods of evaluation used to resolve matters of jurisprudence
    Usability testing, a technique to evaluate a product by testing it on users

See also
Vector search icon.svg 	Search for Test on Wikipedia.

    List of tests
    The Test (disambiguation)
    All pages beginning with "Test"
    All pages with a title containing Test

Disambiguation icon 	This disambiguation page lists articles associated with the title Test.
If an internal link led you here, you may wish to change the link to point directly to the intended article.
Categories:

    Disambiguation pagesDisambiguation pages with surname-holder lists

Navigation menu

    Not logged in
    Talk
    Contributions
    Create account
    Log in

    Article
    Talk

    Read
    View source
    View history

Search

    Main page
    Contents
    Featured content
    Current events
    Random article
    Donate to Wikipedia
    Wikipedia store

Interaction

    Help
    About Wikipedia
    Community portal
    Recent changes
    Contact page

Tools

    What links here
    Related changes
    Upload file
    Special pages
    Permanent link
    Page information
    Wikidata item
    Cite this page

Print/export

    Create a book
    Download as PDF
    Printable version

Languages

    العربية
    Azərbaycanca
    Български
    Català
    Čeština
    Dansk
    Deutsch
    Español
    Euskara
    فارسی
    Français
    한국어
    Italiano
    Кыргызча
    Magyar
    Nederlands
    日本語
    Norsk
    Polski
    Română
    Русский
    Slovenčina
    Svenska
    ไทย
    Türkçe
    Українська
    中文

Edit links

    This page was last edited on 24 September 2017, at 04:43.
    Text is available under the Creative Commons Attribution-ShareAlike License; additional terms may apply. By using this site, you agree to the Terms of Use and Privacy Policy. Wikipedia® is a registered trademark of the Wikimedia Foundation, Inc., a non-profit organization.

    Privacy policy
    About Wikipedia
    Disclaimers
    Contact Wikipedia
    Developers
    Cookie statement
    Mobile view
    Enable previews

    Wikimedia Foundation
    Powered by MediaWiki



</p>
{% endblock %}

