{% extends 'base.html' %}
{% block content %}

    <script src="components/c3/c3.min.js"></script>
    <script src="components/d3/d3.min.js"></script>

    <body class="cards-pf">
      ...
      <div class="container-fluid container-cards-pf">
        <div class="row row-cards-pf">
          <div class="col-xs-12">
            <div class="card-pf card-pf-utilization">
  <div class="card-pf-heading">

    <h2 class="card-pf-title">
    {{ details.Name }}
    </h2>
      <div class="btn-group card-pf-title" style="float:right;top:-60px;">
      <!--<button class="btn btn-success">Start</button>-->
        <!--<button class="btn btn-warning">Pause</button>-->
        <!--<button class="btn btn-danger">Stop</button>-->
          </div>

  </div>
  <div class="card-pf-body" id="vm_info_font">
      {% for key,value in details.items %}
      <label > {{ key }} : {{ value }} </label><br>
      {% endfor %}

  </div>
        </div><!-- /row -->
      </div><!-- /container -->
          </div>
        </div>
      </div>

    </body>



{% endblock %}