{% extends 'form_template.html' %}
{% block form_content %}
<div>
    {% load extra_tags %}
    {% if message == True %}
    <div class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Activation key added successfuly</strong>
    </div>
    {% elif message != False %}
    <div class="alert alert-danger alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
    </div>
    {% endif %}
    <form method="post" action="post_activation_view" autocomplete="off">
        {% csrf_token %}
        {{ form.activation_name.label_tag }}
        {{ form.activation_name }}
        <br><br>
        {{ form.select_view.label_tag }}
        <br>
        {% if view_dict %}
        <div class="views_display">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th width=3%></th>
                    <th width=10%>View</th>
                    <th width=15%>Product</th>
                    <th>Product Url</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in view_dict.items %}
                <tr>
                    {% for each in value %}
                <tr>
                    {% if forloop.first %}
                    <td><input type="checkbox" name="views[]" value="{{ key }}"></input></td>
                    <td>{{ key }}</td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}
                    <td>{{ each.0 }}</td>
                    <td>{{ each.1 }}</td>
                </tr>
                {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <input type="submit" id="btn-refresh" class="btn btn-primary" value="Add">
        {% else %}
        <h1>No Views Found</h1>
        {% endif %}
    </form>
</div>
{% endblock %}
{% block exist_content %}
{% if act_dict %}

<div class="list-group list-view-pf list-view-pf-view">
    {% for act_key,act_value in act_dict.items %}
    <div class="list-group-item">
        <div class="list-group-item-header">
            <div class="list-view-pf-expand">
                <span class="fa fa-angle-right"></span>
            </div>

            <div class="list-view-pf-actions">
                <form action="delete" method="get">
                    <button class="btn btn-danger" name="ViewDelete" value="{{key}}">Delete</button>
                </form>
            </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-view-pf list-group-item-heading">
                            {{act_key}}
                        </div>
                        <div class="list-group-item-text">
                            {% for view_key,view_values in act_value.items %}
                            <strong>{{view_key}}</strong>
                            <div style="margin-left:20px">
                                {% for product_name,product_values in view_values.items %}
                                {% if forloop.last %}
                                {{product_name}}
                                {% else %}
                                {{product_name}} /
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item-container container-fluid hidden">
            <div class="close">
                <span class="pficon pficon-close"></span>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-8">
                    {% for view_key,view_values in act_value.items %}
                    <p><strong>{{view_key}}</strong></p>
                    {% for product_name,product_values in view_values.items %}

                    <dt>{{product_name}}</dt>
                    <dd style="width:100%;">{{product_values}}</dd>
                    {% endfor %}

                    {% if not forloop.last %}
                    <hr>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    {% endfor %}
</div>

<script>
      $(document).ready(function () {

        // toggle dropdown menu
        $('.list-view-pf-actions').on('show.bs.dropdown', function () {
          var $this = $(this);
          var $dropdown = $this.find('.dropdown');
          var space = $(window).height() - $dropdown[0].getBoundingClientRect().top - $this.find('.dropdown-menu').outerHeight(true);
          $dropdown.toggleClass('dropup', space < 10);
        });

        // click the list-view heading then expand a row
        $(".list-group-item-header").click(function(event){
          if(!$(event.target).is("button, a, input, .fa-ellipsis-v")){
            $(this).find(".fa-angle-right").toggleClass("fa-angle-down")
              .end().parent().toggleClass("list-view-pf-expand-active")
                .find(".list-group-item-container").toggleClass("hidden");
          } else {
          }
        })

        // click the close button, hide the expand row and remove the active status
        $(".list-group-item-container .close").on("click", function (){
          $(this).parent().addClass("hidden")
            .parent().removeClass("list-view-pf-expand-active")
              .find(".fa-angle-right").removeClass("fa-angle-down");
        })

      });







</script>

{% else %}
<h1>No Activation Key Added</h1>
{% endif %}
{% endblock %}