{% extends 'form_template.html' %}
{% block form_content %}
<div>
    {% if message == True %}
    <div class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>View created successfuly</strong>
    </div>
    {% elif message != False %}
    <div class="alert alert-danger alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
    </div>
    {% endif %}
    <form action="post_content_view" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.view_name.label_tag }}
        {{ form.view_name }}
        <br>
        <br> {{ form.select_product.label_tag }}
        {% if products %}
        <div class="list-group list-view-pf list-view-pf-view">
        {% for product in products %}
        <div class="list-group-item">
            <div class="list-group-item-header">
                <div class="list-view-pf-expand">
                    <span class="fa fa-angle-right"></span>
                </div>
            <div class="list-view-pf-checkbox">
                <input type="checkbox" name="products[]" value="{{ product.product_name }}">
            </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                            {{ product.product_name }}
                        </div>
                        <div class="list-group-item-text">
                            {{ product.product_location }}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <input type="submit" class="btn btn-primary" value="Add">
        {% else %}
        <h1>No Products Found</h1>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block exist_content %}
{% if view_dict %}

    <div class="list-group list-view-pf list-view-pf-view">
        {% for key,value in view_dict.items %}
        <div class="list-group-item">
            <div class="list-group-item-header">
                <div class="list-view-pf-expand">
                    <span class="fa fa-angle-right"></span>
                </div>
            <div class="list-view-pf-checkbox" style="height:22px"></div>
            <div class="list-view-pf-actions">
                <form action="delete" method="get"><button class="btn btn-danger" name="ViewDelete" value="{{key}}">Delete</button></form>
            </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                            {{key}}
                        </div>
                        <div class="list-group-item-text">
                            {% for each in value %}{% if forloop.last %}{{each.0}}{% else %}{{each.0}} / {% endif %}{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="list-group-item-container container-fluid hidden">
                <div class="close">
                    <span class="pficon pficon-close"></span>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="col-md-9">
                    <dl class="dl-horizontal">
                        {% for each in value %}
                        <dt>{{each.0}}</dt>
                        <dd>{{each.1}}</dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>



    <script>
  $(document).ready(function () {

    // toggle dropdown menu
    $('.list-view-pf-actions').on('show.bs.dropdown', function () {
      var $this = $(this);
      var $dropdown = $this.find('.dropdown');
      var space = $(window).height() - $dropdown[0].getBoundingClientRect().top - $this.find('.dropdown-menu').outerHeight(true);
      $dropdown.toggleClass('dropup', space < 10);
    });

    // click the list-view heading then expand a row
    $(".list-group-item-header").click(function(event){
      if(!$(event.target).is("button, a, input, .fa-ellipsis-v")){
        $(this).find(".fa-angle-right").toggleClass("fa-angle-down")
          .end().parent().toggleClass("list-view-pf-expand-active")
            .find(".list-group-item-container").toggleClass("hidden");
      } else {
      }
    })

    // click the close button, hide the expand row and remove the active status
    $(".list-group-item-container .close").on("click", function (){
      $(this).parent().addClass("hidden")
        .parent().removeClass("list-view-pf-expand-active")
          .find(".fa-angle-right").removeClass("fa-angle-down");
    })

  });

</script>


{% else %}
<h1>No Views Added</h1>
{% endif %}
{% endblock %}