{% extends 'form_template.html' %}
{% block form_content %}
<div class="myBox">
    {% if message == True %}
    <div class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Product Added Successfully</strong>
    </div>
    {% elif message != False %}
    <div class="alert alert-danger alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
    </div>
    {% endif %}
    <form action="post_product" method="post" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}<br>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
{% endblock %}

{% block exist_content %}

{% if product_obj %}
    <div class="list-group list-view-pf list-view-pf-view">
        {% for obj in product_obj %}
        <div class="list-group-item">
            <div class="list-group-item-header">
                <div class="list-view-pf-expand">
                    <span class="fa fa-angle-right"></span>
                </div>
            <div class="list-view-pf-checkbox" style="height:22px"></div>
            <div class="list-view-pf-actions">
                <form action="delete" method="get">
                    <button class="btn btn-danger" name="ProductDelete" value="{{ obj.id }}">Delete</button>
                </form>
            </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                            {{ obj.product_name }}
                        </div>
                        <div class="list-group-item-text">
                            {{ obj.product_location }}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
<h1>No Products Added</h1>
{% endif %}
{% endblock %}