{% extends 'form_template.html' %}
{% block form_content %}
<div class="myBox1">
    {% if message == True %}
    <div class="alert alert-success alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-ok"></span>
        <strong>Product Added Successfully</strong>
    </div>
    {% elif message != False %}
    <div class="alert alert-danger alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-error-circle-o"></span>
        <strong>{{ message }}</strong>
    </div>
    {% endif %}
    <form class="form-horizontal " action="post_product" method="post" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}

        <div class="form-group">
            <label class="col-sm-3 control-label " for="i2" style="font-size:13px;">{{ field.label_tag }}</label>
            <div class="col-sm-8">
                {{ field }}
            </div>
        </div>

        {% endfor %}
        <div class="col-sm-2"></div>
        <div class="form-group">
            <button type="submit" id="product_add" class="btn btn-primary" style="width:100px">Add</button>
        </div>
    </form>
</div>
{% endblock %}

{% block exist_content %}
<div class="myBox">
    {% if product_obj %}
    <div class="list-group list-view-pf list-view-pf-view">
        {% for obj in product_obj %}
        <div class="list-group-item">
            <div class="list-group-item-header">
                <div class="list-view-pf-checkbox" style="height:22px"></div>
                <div class="list-view-pf-actions">
                    <form action="delete" method="get">
                        <button class="btn btn-danger" name="ProductDelete" value="{{ obj.id }}">Delete</button>
                    </form>
                </div>
                <div class="list-view-pf-main-info">
                    <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                            <div class="list-group-item-heading list-view-pf-expand">
                                {{ obj.product_name }}
                            </div>
                            <div class="list-group-item-text">
                                {{ obj.product_location }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2>No Products Added</h2>
    {% endif %}
</div>
{% endblock %}