{% extends 'form_template.html' %}
{% block form_content %}
<div class="myBox">
    <form action="post_product" method="post" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}<br>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
{% endblock %}

{% block exist_content %}
<div class="myBox">
    {% if product_obj %}

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in product_obj %}
        <tr>
            <td>{{ obj.product_name }}</td>
            <td>{{ obj.product_location }}</td>
            <td>
                <form action="delete" method="GET">
                    <button class="btn btn-default" name="ProductDelete" value="{{ obj.id }}">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h1>No Products Added</h1>
    {% endif %}
</div>
{% endblock %}