{% extends 'base.html' %}
{% block change_host_group %}
<script type="text/javascript" src="/static/change_host_group.js"></script>
{% endblock %}
{% block content %}


<div  style="margin-top:-20px;background-color:#f0f3f4;margin-bottom:2px;">
    <div class="col-md-1"></div>
    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="title-bg nav-link active" style="outline: none;font-size:20px;margin-top:20px;">{{ title_name }}</a>
        </li>
    </ul>
</div>
<br>
<div class="myBox1">
    <div class="col-md-1 col-lg-1 "></div>
    <div class="col-md-10 col-lg-10 w3-container w3-card-4" style="background: rgba(242, 243, 243, 0.1);padding:80px 0px; margin-bottom:50px;">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-md-10 col-lg-10  ">
            <ul class="nav nav-tabs text-size" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" id="create" href="#profile" role="tab" data-toggle="tab"><b>Create New</b></a>
                </li>
            </ul>
            <div class="tab-content">
                <br>
                <div role="tabpanel" class="tab-pane fade in active" id="profile">
                    {% if error == False %}
                    <form class="form-horizontal" action="post_create_host" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label " for="i2" style="font-size:13px;">{{form.vm_name.label_tag}}</label>
                                <div class="col-sm-8">
                                    {{ form.vm_name }}
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label " for="i2" style="font-size:13px;">{{form.select_compute.label_tag}}</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="select_compute" id="select_compute" style="background-color:#f1f1f4">
                                        {% for key,value in compute_name %}
                                        <option value="{{key}}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label " for="i2" style="font-size:13px;">{{form.select_vm_profile.label_tag }}</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="select_vm_profile" id="select_profile" style="background-color:#f1f1f4">
                                        {% for key,value in profile_name %}
                                        <option value="{{key}}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label " for="i2" style="font-size:13px;">{{form.vm_os.label_tag }}</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="vm_os" id="select_os" style="background-color:#f1f1f4">
                                        {% for key,value in os_name %}
                                        <option value="{{key}}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>




                            <div class="form-group">
                                <label class="col-sm-3 control-label " for="i2" style="font-size:13px;">{{ form.activation_name.label_tag }}</label>
                                <div class="col-sm-4">
                                    <select class="  form-control " name="activation_name" id="select_activation" style="background-color:#f1f1f4">
                                    {% for key,value in activation_name %}
                                    <option value="{{key}}">{{ value }}</option>
                                    {% endfor %}
                                </select>

                                </div>
                            </div>
                            <div class="form-group"  id="host_group_data" hidden>
                                <label class="col-sm-3 control-label" for="i2" style="font-size:13px;">{{form.select_host_group.label_tag}}</label>
                                <div class="col-sm-4">
                                    <select class=" form-control" name="select_host_group" id="select_host_group" onchange="host_group_change()">
                                        <option value="none">Choose Host Group</option>
                                        {% for each in host_group %}
                                        <option value="{{each}}">{{each}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                            <div class="col-sm-3 control-label "></div>
                             <div class="col-sm-8">
                                 <p id="visible_host_group" style="color:blue;">If you already have Host Group Click Here</p>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label " for="i2" style="font-size:13px;">{{ form.password.label_tag }}</label>
                                <div class="col-sm-8">
                                    {{ form.password }}

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-8">
                                     <button type="submit" class="btn btn-primary">Create Instance</button>

                                </div>
                            </div>



                        </div>
                    </form>
                    {% else %}
                    <h2>{{ error }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    console.log();
</script>
    {% endblock %}
