{% extends 'base.html' %}
{% block change_host_group %}
<script type="text/javascript" src="/static/change_host_group.js"></script>
{% endblock %}
{% block content %}


<div class="bg-primary" style="height:50px;margin-top:-25px">
    <h3 class="title-bg">
        <center>{{ title_name }}</center>
    </h3>
</div>
<br>
<div class="col-md-2 col-lg-2"></div>
<div class="col-md-8 col-lg-8 well well-lg well-primary" style="border:1px solid blue">
    <ul class="nav nav-tabs text-size" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><b>Create New</b></a>
        </li>
    </ul>
    <div class="tab-content">
        <br>
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            {% if error == False %}
            <form action="post_create_host" method="post" autocomplete="off">
                {% csrf_token %}
                <div>
                    <table class="padded-table">
                        <tr>
                            <td>{{ form.vm_name.label_tag }}</td>
                            <td>{{ form.vm_name }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.select_compute.label_tag }}</td>
                            <td><select name="select_compute" id="select_compute">
                                {% for key,value in compute_name %}
                                <option value="{{key}}">{{ value }}</option>
                                {% endfor %}
                            </select></td>
                        </tr>
                        <tr>
                            <td>{{ form.select_vm_profile.label_tag }}</td>
                            <td><select name="select_vm_profile" id="select_profile">
                                {% for key,value in profile_name %}
                                <option value="{{key}}">{{ value }}</option>
                                {% endfor %}
                            </select></td>
                        </tr>
                        <tr>
                            <td>{{ form.vm_os.label_tag }}</td>
                            <td><select name="vm_os" id="select_os">
                                {% for key,value in os_name %}
                                <option value="{{key}}">{{ value }}</option>
                                {% endfor %}
                            </select></td>

                            <td>
                                {{form.select_host_group.label_tag}}
                            </td>
                            <td><select name="select_host_group" id="select_host_group" onchange="host_group_change()">
                                <option value="none">Choose Host Group</option>
                                {% for each in host_group %}
                                <option value="{{each}}">{{each}}</option>
                                {% endfor %}
                            </select>

                </td>


                </tr>
                <tr>
                    <td>{{ form.activation_name.label_tag }}</td>
                    <td><select name="activation_name" id="select_activation">
                        {% for key,value in activation_name %}
                        <option value="{{key}}">{{ value }}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary">Create Instance</button>
                    </td>
                </tr>
                </table>

        </form>
        {% else %}
        <h1>{{ error }}</h1>
        {% endif %}
    </div>
</div>
</div>
<div class="col-md-2 col-lg-2"></div>
{% endblock %}
