{% extends 'form_template.html' %}
{% block form_content %}
    <form action="post_data" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}<br>
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <button type="submit" class="btn btn-default">Test Connection</button><br><br>
{% endblock %}

{% block exist_content %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>IP Address</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in compute_obj %}
    <tr>
      <th scope="row">{{ obj.id }}</th>
      <td>{{ obj.name }}</td>
      <td>{{ obj.ip_address }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}