{% extends 'form_template.html' %}
{% block form_content %}

    <form action="post_profile" method="post" autocomplete="off">
      {% csrf_token %}
        {{compute_resource_name}}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}<br>
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>

{% endblock %}

{% block exist_content %}
{% if profile_obj == False %}
<h1>No Profiles Found</h1>
{% else %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Profile Name</th>
      <th>RAM</th>
      <th>CPUs</th>
      <th>Disk Size</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in profile_obj %}
    <tr>
      <th scope="row">{{ obj.id }}</th>
      <td>{{ obj.profile_name }}</td>
      <td>{{ obj.ram }}</td>
      <td>{{ obj.cpus }}</td>
      <td>{{ obj.disk_size }}</td>
      <td>{{ obj.select_compute }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}